// *header colors*

// footer colors

// main content colors

// primary color
$bandsite-black: #323232;

$silver: #afafaf;

$white: #ffffff;

// secondary colors

$bandsite-darkblack: #000000;

$mercury: #e1e1e1;

$alabaster: #fafafa;
