@use "./colors" as *;
@use "./fonts" as *;

@use "../partials/smalltypography" as smalltypography;
@use "./largetypography" as typography;
@use "./breakpoint" as breakpoint;

html,
body {
  margin: 0;
  font-family: "Avenir";

  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: $white;
}

ul {
  list-style: none;
  padding-left: 0;
}

.navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: $bandsite-black;

  @include breakpoint.medium {
    // display: flex;
    flex-direction: row;
    padding: 1rem 1rem 1.5rem 3rem;
  }
  @include breakpoint.large {
    flex-drection: row;
  }

  &__logo {
    padding-top: 1rem;
    display: inline;
    @include breakpoint.medium {
      padding-top: 0.6rem;
    }
  }

  &__container {
    width: 100%;
    display: flex;
    justify-content: center;

    @include breakpoint.medium {
      justify-content: flex-start;
      width: 50%;
    }

    @include breakpoint.large {
      justify-content: flex-start;
    }
  }

  &__menu-item {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    color: $white;
    margin: 0;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;

    &--link {
      list-style: none;
      display: flex;
      flex-direction: row;
      justify-content: center;
      width: 100%;
      color: $white;
      &:hover {
        border-bottom: 3px solid $white;
      }
    }
  }
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: $bandsite-black;
  padding: 0 1rem;
  color: $white;
  @include breakpoint.medium {
    padding-left: 2.25rem;
    @include typography.sub-header;
  }

  @include breakpoint.large {
    padding-top: 2rem;
    padding-left: 7rem;
    padding-bottom: 2rem;
  }

  &__header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    @include breakpoint.medium {
      flex-direction: row;
      justify-content: flex-end;
    }
  }

  &__logo {
    flex: 1;
    margin-top: 3rem;
    @include breakpoint.medium {
      display: none;
      visibility: hidden;
    }

    &-header {
      display: none;
      visibility: hidden;
      @include breakpoint.medium {
        display: inline;
        visibility: visible;
        padding-right: 5rem;
      }
    }
  }

  &__title {
    color: $white;
    font-family: $font-demi;

    @include breakpoint.medium {
      @include typography.section-header;
      font-family: $font-demi;
      letter-spacing: 0.2rem;
    }
    @include breakpoint.large {
      @include typography.section-header;
    }
  }

  &__social {
    display: flex;
    flex: 1;
    width: 7rem;
    justify-content: space-between;
    @include smalltypography.smalllabels-buttons;

    @include breakpoint.medium {
      padding-left: 1rem;
      justify-content: flex-start;
      gap: 2rem;
    }
    @include breakpoint.large {
      padding-left: 4rem;
      justify-content: flex-start;
      gap: 4rem;
      @include typography.footer-copy;
    }
  }

  &__allcontacts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: $bandsite-black;
    padding: 0 0rem;
    color: $white;
    @include smalltypography.smallfooter-copy;

    @include breakpoint.medium {
      flex-direction: row;
      gap: 2.25rem;
      width: 100%;

      // @include breakpoint.medium {
      //   padding-left: 2.25rem;
      // }
    }
  }

  &__carson {
    margin-bottom: 2rem;
    @include breakpoint.medium {
      width: 33%;
      @include typography.footer-copy;
    }
    @include breakpoint.large {
      width: 80%;
    }
  }

  &__pearl {
    @include breakpoint.medium {
      @include typography.footer-copy;
      width: 33%;
    }
  }

  &__cam {
    @include breakpoint.medium {
      width: 33%;
      @include typography.footer-copy;
    }
  }

  &__copyright {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: $bandsite-black;
    padding: 0 0rem;
    color: $white;
    @include smalltypography.smallfooter-copy;

    @include breakpoint.medium {
      @include typography.footer-copy;
    }
  }
}
