@mixin page-header {
  font-size: 60px;
  line-height: 44px;
  font-weight: 700;
}

@mixin section-header {
  font-size: 36px;
  line-height: 44px;
  font-weight: 700;
}
@mixin sub-header {
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
}
@mixin body-copy {
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
}
@mixin footer-copy {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}
@mixin labels-buttons {
  font-size: 12px;
  line-height: 20px;
  font-weight: 700;
}
