@mixin page-header {
  font-size: 60px;
  line-height: 44px;
  font-weight: 700;
}

// Page Header
//
// Section Header
// Text size: 24px | Line height: 32px | Text weight: Bold 700
// Subheader
// Text size: 14px | Line height: 22px | Text weight: Demi 600
// Body Copy
// Text size: 13px | Line height: 18px | Text weight: Regular 400
// Footer Copy
// Text size: 13px | Line height: 18px | Text weight: Regular 400
// LABELS & BUTTONS
// Text size: 10px | Line height: 20px | Text weight: Bold 700
