// Questions
@use "./partials/global";
@use "./partials/fonts" as *;
@use "./partials/colors" as *;
//because +you use all the colors and the * is not used for hte bottom cause you want to refer to certain parts of the file
@use "./partials/smalltypography" as typography;
@use "./partials/breakpoint" as breakpoint;
// tips when Importing files and needing to use the color
// @include breakpoints.small{

// }

// .header{
//   @include breakpoints.small{

//   }
// }
// when Importing files and needing to use the color @use @mixin *breakpoint and wrappers

//

.hero {
  background: linear-gradient(
      to bottom,
      rgba(50, 50, 50, 0.534),
      rgba(50, 50, 50, 0.5)
    ),
    url("../../../assets/images/hero-bio.jpg");
  background-size: cover;
  background-position: center;
  height: 30vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  //*esp for hero preferably viewport width so it scales with the viewport device cause we only want it increasing decreasing based on width//

  @include breakpoint.medium {
  }
  @include breakpoint.large {
  }

  &__title {
    color: $white;
    font-weight: 600;
    font-size: 1rem;
    line-height: 2rem;

    @include breakpoint.medium {
      font-size: 2em;
      max-height: 2rem;
    }
    @include breakpoint.large {
    }
  }
}

.about {
  padding: 0 1 rem;

  &__bandphoto {
    width: 100%;
    // display: block;makes it act like a block
  }
}
.gallery__photo {
  width: 100%;
  margin: 0 auto;
  &:hover {
    filter: grayscale(1);
  }
}

.about__container {
  display: flex;
  flex-direction: column;
  background-color: $white;
}

.gallery {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 1rem;

  //why not margin?//
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: $bandsite-black;
  padding: 0 1rem;

  &__container {
    display: flex;
    flex-direction: column;
    position: relative;
  }
  &__social {
    display: flex;
    gap: 85%;
  }
}
