// Questions

//how to use @use, @Mixin, @import, how to resize one layout band photos wont center?

@use "./partials/fonts" as *;
@use "./partials/colors" as *;
@use "./partials/smalltypography" as typography;
@use "./partials/breakpoint" as breakpoint;
// tips when Importing files and needing to use the color
// @include breakpoints.small{

// }

// .header{
//   @include breakpoints.small{

//   }
// }
// when Importing files and needing to use the color @use @mixin *breakpoint and wrappers

html,
body {
  margin: 0;
  font-family: "Avenir";
  height: 100vh;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

//medium tablet//

.navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: $bandsite-black;

  &__container {
    width: 100%;
  }
}

.navigation__menu-item {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 0.5rem;
  width: 100%;
  color: $white;
}

// @include medium{

// }
// @include large{

// }

.hero {
  background: linear-gradient(
      to bottom,
      rgba(50, 50, 50, 0.534),
      rgba(50, 50, 50, 0.5)
    ),
    url("../../../assets/images/hero-bio.jpg");
  background-size: cover;
  height: auto;
  height: 30vh;
  border: none;
  padding: 1rem;

  &__title {
    flex: display;
    color: $white;
    padding-top: 4rem;
    font-weight: 600;
  }
  @include breakpoint.medium {
  }

  @include breakpoint.large {
  }
}

.container__bandphoto {
  width: 40vh;
  height: 20%; //why? vh vs percentage?
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 2rem;
}

.gallery__photos {
  width: 90%;
  margin: 0 auto;
}

.about__container {
  display: flex;
  flex-direction: column;
  background-color: $white;
}

.gallery {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 1rem;

  //why not margin?//
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: $bandsite-black;
  padding: 0 1rem;

  &__container {
    display: flex; //these properties don't follow from parent footer?
    flex-direction: column;
    position: relative;
  }
  &__social {
    display: flex;
    justify-content: flex-start;
    justify-content: space-evenly;
  }
}
