@use "./partials/fonts";
@use "./partials/components/header";
@use "./partials/components/mainContent";
@use "./partials/components/footer";

html,
body {
  margin: 0;
  font-family: "Nunito";
  line-height: 1.8rem;
  height: 100vh;
  box-sizing: border-box;
  //   color: $colorinickname
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
