// Questions
@use "./partials/global";
@use "./partials/fonts" as *;
@use "./partials/colors" as *;

//because +you use all the colors and the * is not used for hte bottom cause you want to refer to certain parts of the file
@use "./partials/smalltypography" as smalltypography;
@use "./partials/largetypography" as typography;
@use "./partials/breakpoint" as breakpoint;
// tips when Importing files and needing to use the color

// $font-regular: "Avenir-regular";
// $font-demi: "Avenir-demi";
// $font-bold: "Avenir-bold";
// when Importing files and needing to use the color @use @mixin *breakpoint and wrappers

.showshero {
  background: url(../assets/images/hero-shows.jpg);
  background-size: cover;
  justify-content: center;
  background-position: 0ch;
  align-items: baseline;
  flex-direction: column;
  background-color: rgba(50, 50, 50, 0.5);
  background-blend-mode: darken;
  min-height: 400px;

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 1rem;
  }

  //*esp for hero preferably viewport width so it scales with the viewport device cause we only want it increasing decreasing based on width//
  &__album {
    color: $white;
    line-height: 2rem;
    font-family: $font-regular;
    padding-right: 7rem;

    @include breakpoint.medium {
      //   font-size: 3em;
      //   max-height: 2rem;
      //   padding-right: 50%;
    }
    @include breakpoint.large {
    }
  }
  &__title {
    color: $white;
    line-height: 1rem;
    font-family: $font-regular;
    padding-right: 7rem;

    @include breakpoint.medium {
      //   font-size: 3em;
      //   max-height: 2rem;
      //   padding-right: 50%;
    }
    @include breakpoint.large {
    }
  }
  &__embed {
    display: flex;
    padding-top: 4rem;
    width: 50%;
  }
}

.show {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  margin-left: 2rem;
  padding-bottom: 2rem;

  @include breakpoint.medium {
    flex-direction: column;
  }

  &__venue {
    @include breakpoint.medium {
      // display: flex;
      // flex-direction: row;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    @include breakpoint.medium {
      // display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    @include breakpoint.large {
      // display: flex;
      flex-direction: row;
    }
  }

  &__date-title {
    @include breakpoint.medium {
      display: none;
    }
  }

  &__date-value {
    font-weight: bold;
  }

  &__venue-title {
    @include breakpoint.medium {
      display: none;
    }
  }

  &__location-title {
    @include breakpoint.medium {
      display: none;
    }
  }
}

.shows__button {
  width: 80%;

  @include breakpoint.medium {
    width: 30%;
    height: 20%;
  }
}
